.lou{
	width:100%;
	height:790px;
	background-color:#fff;
}
.lou>.lou_1{
	width:1092px;
	margin:0 auto ;
}
.lou>.lou_1>.lou-2 {
	width:1092px;
	height:69px;
}
.lou>.lou_1>.lou-2>.lou-left>h2{
	float:left;
	font-size:22px;
	padding:28px 19px 0 0;
	cursor:pointer;
}
.lou>.lou_1>.lou-2>.lou-left>h2:hover{
	color:#af9981;
	cursor:pointer;
}
.lou>.lou_1>.lou-2>.lou-left>span{
	float:left;
	font-size:12px;
	margin-top:39px;
}
.lou>.lou_1>.lou-2>.lou-right{
	float:right;
	font-size:12px;
	margin-top:39px;
}
.lou>.lou_1>.lou-2>.lou-right>a{
	color:black;
}
.lou>.lou_1>.lou-2>.lou-right>a:hover{
	color:#af9981;
}
.lou>.lou_1>.left_0{
	float:left;
	width:354px;
	height:288px;
	background-color:#f3fcf9;
	margin-right:10px;
	position:relative;
}
.lou>.lou_1>.left_0>.span1{
	display:block;
	text-align:center;
	padding-top:45px;
	font-size:23px;
	color:#6a6a6a;
	margin-bottom:16px;
}
.lou>.lou_1>.left_0>.span1>a>.xin_1{
	width:32px;
	height:21px;
	position:absolute;
	right:85px;
	top:44px;
	display:block;
	font-size:5px;
	color:#fff;
	background:url(../img/精.png) no-repeat ;
}
.lou>.lou_1>.left_0>.i12{
	display:block;
	width:44px;
	height:1px;
	background-color:black;
	margin-left:155px;
	margin-bottom:18px;
}
.lou>.lou_1>.left_0>.span1>a{
	color:#63504c;
}
.lou>.lou_1>.left_0>.span2{
	display:block;
	text-align:center;
	font-size:12px;
	color:#6a6a6a;
}
.lou>.lou_1>.left_0>img{
	width:150px;
	height:100px;
	display:block;
	margin:15px auto ;
	cursor: pointer; /*鼠标滑入变成小手*/ 
}
.lou>.lou_1>.left_0>img:hover{
	 transform: scale(1.3); 
	 transition:0.5s;

}
.lou>.lou_1>.lou-right_1{
	float:right;
	width:364px;
	height:288px;
}
.lou>.lou_1>.lou-right_1>.lou_right{
	width:364px;
	height:140px;
	background-color:#f5f6fa;
	margin-bottom:10px;
}
.lou>.lou_1>.lou-right_1>.lou_right>.div-lou{
	width:110px;
	height:63px;
	float:left;
	margin:29px 0 0 14px;
}
.lou>.lou_1>.lou-right_1>.lou_right>.div-lou>.span1{
	font-size:17px;
	color:#6a6a6a;
}
.lou>.lou_1>.lou-right_1>.lou_right>.div-lou>i{
	display:block;
	width:49px;
	height:1px;
	background-color:black;
	margin:9px 0 12px;
}
.lou>.lou_1>.lou-right_1>.lou_right>.div1-lou{
	width:190px;
	height:140px;
	float:right;
}
.lou>.lou_1>.lou-right_1>.lou_right>.div1-lou>img{
	width:180px;
	height:127px;
	margin-top:7px;
}
.lou>.lou_1>.lou-right_1>.lou_right>.div1-lou>img:hover{
	transform: scale(1.1); 
	transition:0.5s;
}
.lou>.lou_1>.lou_2bottom{
	float:left;
	width:265px;
	height:313px;
	background-color:#fff;
	position:relative;
	margin-right:8px;
}
.lou>.lou_1>.lou_2bottom:hover{
	background-color:#ccc;
	box-shadow:0 6px 8px 0px #ccc;
}
.lou>.lou_1>.lou_2bottom>div>img{
	width:265px;
	height:240px;
}
.lou>.lou_1>.lou_2bottom>div>div>p{
	font-size:11px;
	text-align:center;
}
.lou>.lou_1>.lou_2bottom>div>div>a{
	text-align:center;
	font-size:9px;
	padding-right:5px;
	color:red;
}
.lou>.lou_1>.lou_2bottom>div>div>.a_1{
	width:28px;
	height:18px;
	color:#fff;
	text-align:center;
	background-color:red;
	padding-left:5px;
}
.lou>.lou_1>.lou_2bottom>div>div>s{
	font-size:9px;
}
.lou>.lou_1>.lou_2bottom>div>div{
	width:100%;
	text-align:center;
}
.lou>.lou_1>.lou_2bottom>div>div>span{
	font-size:11px;
	border-left:1px solid #ccc;
	padding-left:8px;
}
.lou>.lou_1>.lou_2bottom>.lou_3erji{
	width:265px;
	height:313px;
	background-color:pink;
	top:0;
	left:0;
	position:absolute;
	background:#cccccc00;
	display:none;
}
.lou>.lou_1>.lou_2bottom:hover .lou_3erji{
	display:block;
}
	/*楼层1结束*/


	/*楼层2*/
.louceng_2{
	width:100%;
	height:690px;
	background-color:#f4f1ea;
}
.louceng_2>.louceng-2{
	width:1092px;
	margin:0 auto;
}
.louceng_2>.louceng-2>.lou_left{
	float:left;
	margin-top:55px;
}
.louceng_2>.louceng-2>.lou_left>h3:hover{
	color:#bba078;
	cursor:pointer;
}
.louceng_2>.louceng-2>.lou_left>h3{
	float:left;
	font-size:25px;
	margin-bottom:19px;
}
.louceng_2>.louceng-2>.lou_left>span{
	float:left;
	margin:7px 38px 0;
	font-size:12px;
}
.louceng_2>.louceng-2>.lou-right{
	float:right;
	margin-top:67px;
	font-size:13px;
	cursor:pointer;
}
.louceng_2>.louceng-2>.lou-right:hover{
	color:#bba078;
}
.louceng_2>.tupain-1{
	width:1092px;
	background-color:blue;
	margin:0 auto;
}
.louceng_2>.tupain-1>.tupian_2{
	width:390px;
	height:400px;
	background-color:pink;
	text-align:center;
	margin-bottom:1px;
}
.louceng_2>.lou-bottom{
	width:1092px;
	margin:0 auto;
}
.louceng_2>.lou-bottom>.bottom-left{
	width:390px;
	height:530px;
	float:left;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-1{
	width:390px;
	height:400px;
	background-color:#fff;
	text-align:center;
	margin-bottom:1px ;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-1 .bb{
	width: 320px;
	height: 320px;
	overflow:hidden;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-1>.bb>img:hover{
	transform: scale(1.1); 
	transition:0.9s;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-2{
	width:390px;
	height:129px;
	background-color:#fff;
	text-align:center;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-2>.span1{
	width:70px;
	height:20px;
	line-height:20px;
	font-size:11px;
	background-color:#e36844;
	display:inline-block;
	color:#fff;
	margin:18px 0 11px;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-2>.span2{
	width:34px;
	height:20px;
	line-height:20px;
	background-color:#e36844;
	display:inline-block;
	font-size:11px;
	color:#fff;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-2>a{
	display:block;
	font-size:17px;
	color:#333333;
	margin-bottom:18px;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-2>a:hover{
	color:#bba078;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-2>b{
	color:red;
	font-size:14px;
	margin-right:6px;
}
.louceng_2>.lou-bottom>.bottom-left>.bottom-2>s{
	color:#999999;
	font-size:11px;
}
.lou-bottom>.ul{
	width:701px;
	float:left;
}
.lou-bottom>.ul>li{
	float:left;
	width:223px;
	height:260px;
	background-color:#fff;
	text-align:center;
	margin:0 0 10px 10px;
	cursor:pointer;
}
.lou-bottom>.ul>li>.ul_div{
	width:180px;
	height:180px;
	overflow:hidden;
	padding-left:25px;
	position:relative;	
}
.lou-bottom>.ul>li>.ul_div>.buzhidao{
	width:53px;
	height:20px;
	border:1px solid #b3a07d;
	position:absolute;
	left:10px;
	top:10px;
	border-radius:7px;
	background-color:#f4f0ea;
	font-size:12px;
	text-align:center;
	line-height:20px;
	color:#b3a07d;
}
.lou-bottom>.ul>li>.ul_div>img:hover{
	transform:scale(1.1); 
	transition:0.5s;
}
.lou-bottom>.ul>li>.bottom{
	width:223px;
	height:79px;
	background-color:#fff;
	border-top:1px solid #ccc;
}
.lou-bottom>.ul>li>.bottom>.span1{
	display:inline-block;
	width:58px;
	height:20px;
	line-height:20px;
	background-color:#e36844;
	font-size:11px;
	color:#fff;
	margin:8px 0;
}
.lou-bottom>.ul>li>.bottom>.span11{
	background-color:#f28f2d;
}
.lou-bottom>.ul>li>.bottom>.span2{
	display:inline-block;
	width:34px;
	height:20px;
	line-height:20px;
	background-color:#e36844;
	font-size:11px;
	color:#fff;
	margin:8px 0;
}
.lou-bottom>.ul>li>.bottom>.p1{
	font-size:12px;
	color:black;
	margin-bottom:5px;
	display:block;
}
.lou-bottom>.ul>li>.bottom>.p1:hover{
	color:#bba078;
}
.lou-bottom>.ul>li>.bottom>b{
	color:red;
	font-size:10px;
	margin-right:6px;
}
.lou-bottom>.ul>li>.bottom>s{
	color:#999999;
	font-size:10px;
}
.ding{
	width:100%;
	height:540px;
	background-color:#fff;
}
.ding>.ding_1{
	width:1095px;
	margin:0 auto;	
}
.ding>.ding_1>a:hover{
	color:#bba078;
}
.ding>.ding_1>.left_1{
	float:left;
	font-size:26px;
	color:black;
	margin:61px 0 18px;
}
.ding>.ding_1>.right_1{
	float:right;
	font-size:12px;
	margin:70px 0 18px;
	color:black;
}
.ding>.ding_2{
	width:1095px;
	height:377px;
	margin:0 auto;
}
.ding>.ding_2>.bei{
	width:224px;
	height:377px;
	float:left;
	background:url(../img/bei.jpg) no-repeat;
	text-align:center;
}
.ding>.ding_2>.bei>h3{
	margin-top:65px;
	font-weight:normal;
	font-size:26px;
	color:#795548;
	margin-bottom:15px;
}
.ding>.ding_2>.bei>i{
	display:block;
	width:20px;
	height:2px;
	background-color:#61594b;
	margin:0 auto;
	margin-bottom:20px;
}
.ding>.ding_2>.bei>p{
	font-size:19px;
	color:#915548;
	margin-bottom:19px;
}
.ding>.ding_2>.bei>.dingshi{
	width:153px;
	height:42px;
	margin:0 auto;
}
.ding>.ding_2>.bei>.dingshi>span{
	width:40px;
	height:40px;
	line-height:40px;
	color:#fff;
	float:left;
	background-color:#615548;
}
.ding>.ding_2>.bei>.dingshi>b{
	float:left;
	width:15px;
	height:40px;
	line-height:40px;
	text-align:center;
}
.ding_2>.bei>.di_1>.a1{
	display:inline-block;
	width:110px;
	height:30px;
	line-height:30px;
	border-radius:13px;
	background-color:#a7936e;
	font-size:12px;
	color:#fff;
	margin-top:50px;
}
.ding>.ding_2>.ul-1{
	width:869px;
	height:375px;
	background-color:#fff;
	float:right;
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
}
.ding>.ding_2>.ul-1>li{
	width:433px;
	height:187px;
	background-color:#fff;
	float:left;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.ding>.ding_2>.ul-1>li>.li_div1{
	width:178px;
	height:178px;
	float:left;
	margin:4px 0 0 3px;
	background-color:#f2f0ee;
}
.ding>.ding_2>.ul-1>li>.li_div1>span{
	width:180px;
	height:180px;
	overflow:hidden;
}
.ding>.ding_2>.ul-1>li>.li_div1>span>img:hover{
	transform:scale(1.1); 
	transition:0.5s;
}
.ding>.ding_2>.ul-1>li>.li_div2{
	width:251px;
	height:179px;
	float:right;
	background-color:#fff;
	margin-top:4px;
}
.ding>.ding_2>.ul-1>li>.li_div2>a{
	font-size:16px;
	color:#333333;
	display:block;
	margin-top:15px;
}
.ding>.ding_2>.ul-1>li>.li_div2>a:hover{
	color:#bba078;
}
.ding>.ding_2>.ul-1>li>.li_div2>.span12{
	font-size:12px;
	color:#999999;
	display:block;
	margin:11px 0 22px;
}
.ding>.ding_2>.ul-1>li>.li_div2>#i_div{
	width:150px;
	height:10px;
	border-radius:50px;
	border:1px solid #ccc;
	margin-left:2px;
	float:left;
}
.ding>.ding_2>.ul-1>li>.li_div2>#i_div>#i_div1{
	width:90%;
	height:100%;
	background-color:#ffe5e5;
	float:left;
	border-radius:50px;
}
.ding>.ding_2>.ul-1>li>.li_div2>.hai{
	float:left;
	font-size:12px;
	margin-left:9px;
	color:#999999;
}
.ding>.ding_2>.ul-1>li>.li_div2>.hai-11{
	width:169px;
	height:22px;
	float:left;
	margin-bottom:21px;
}
.ding>.ding_2>.ul-1>li>.li_div2>.hai-11>span{
	font-size:12px;
	color:red;
}
.ding>.ding_2>.ul-1>li>.li_div2>.hai-11>b{
	font-size:18px;
	color:red;
	margin-right:21px;
}
.ding>.ding_2>.ul-1>li>.li_div2>.hai-11>s{
	font-size:11px;
	color:#a699a6;
}
.ding>.ding_2>.ul-1>li>.li_div2>.button{
	width:121px;
	height:33px;
	float:left;
}
.ding>.ding_2>.ul-1>li>.li_div2>.button>button{
	display:block;
	width:118px;
	height:31px;
	background-color:#be4141;
	border:none;
	margin-left:1px ;
	color:#fff;
	border-radius:5px;
}
.ding>.ding_2>.ul-1>li>.li_div2>.button>button:hover{
	background-color:#000000bd;
}
.box{
	width:100%;
	height:520px;
	background-color:#f4f0ea;
}
.box>.box_1{
	width:1090px;
	height:102px;
	margin:0 auto;
}
.box>.box_1>.a-1{
	float:left;
	font-size:26px;
	color:#333333;
	margin-top:56px;
}
.box>.box_1>.a-2{
	float:right;
	font-size:12px;
	color:#333333;
	margin-top:69px;
}
.box>.box_1>a:hover{
	color:#bba078;
}
.box>.box_lun{
	width:1090px;
	height:376px;
	margin:0 auto;
}
.box>.box_lun>.box_left{
	width:224px;
	height:376px;
	float:left;
	background-color:#fff;
	position:relative;
}
.box>.box_lun>.box_left:hover span{
	display:block;
}
.box>.box_lun>.box_left>ul{
	width:224px;
	height:376px;	
}
.box>.box_lun>.box_left>ul>li{
	width:224px;
	height:376px;
	position:absolute;
	top:0;
	left:0;
	transition:1s;
}
.box>.box_lun>.box_left>.span111{
	float:left;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	position:absolute;
	top:185px;
	left:0;
	border-radius:50%;
	font-size:20px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	cursor:pointer;
	display:none;
}
.box>.box_lun>.box_left>.span222{
	float:right;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	position:absolute;
	top:185px;
	right:0;
	border-radius:50%;
	font-size:20px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	cursor:pointer;
	display:none;
}
.box>.box_lun>.box_left>.yuan{
	height:30px;
	position:absolute;
	bottom:-12px;
	left:70px;	
}
.box>.box_lun>.box_left>.yuan>span{
	float:left;
	width:10px;
	height:10px;
	background-color:#fff;
	margin-right:10px;
	text-align:center;
	border-radius:45%;
	box-shadow: 0 0 0 4px rgba(255,255,255,0.8);
}
.box>.box_lun>.box1-left{
	float:left;
	width:624px;
	height:376px;
	background-color:#fff;
}
.box>.box_lun>.box1-left>.zhong{
	width:589px;
	height:376px;
	margin:0 auto;
}
.box1-left>.zhong>.zhong-div{
	width:589px;
	height:55px;
	border-bottom:1px solid #faf0ea;
}
.box>.box_lun>.box1-left>.zhong>.zhong-div>.span-left{
	float:left;
	height:55px;
	line-height:55px;
	font-size:15px;
}
.box>.box_lun>.box1-left>.zhong>.zhong-div>.span-right{
	float:right;
	height:55px;
	line-height:55px;
	font-size:11px;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left{
	width:589px;
	height:320px;
	position:relative;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo{
	width:294px;
	height:159px;
	float:left;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo_oo{
	width:132px;
	height:130px;
	background-color:#fbf9f6;
	float:left;
	margin-top:20px;
}
.bottom-left>.tuoo>.tuoo_oo> .div123{
	width:40px;
	height:40px;
	line-height:40px;
	background-color:#f78d33;
	border-radius:50%;
	position:absolute;
	top:110px;
	left:91px;
	text-align:center;
}
.bottom-left>.tuoo>.tuoo_oo> .div123>.a12{
	font-size:17px;
	display:inline-block;
	color:#fff;
}
.bottom-left>.tuoo>.tuoo_oo> .div123>.a123{
	font-size:11px;
	color:#fff;
	display:inline-block;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo-right{
	width:117px;
	height:130px;
	float:left;
	background-color:#fff;
	margin-top:20px;
	margin-right:40px;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo-right>p{
	font-size:12px;
	margin:12px 0 0 13px;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo-right>p:hover{
	color:#b4a078;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo-right>.b1{
	font-size:12px;
	color:#be4141;
	margin-left:13px;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo-right>.b2{
	font-size:16px;
	color:red;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo-right>s{
	display:block;
	margin-left:13px;
	font-size:11px;
	color:#a4b8d3;
}
.box>.box_lun>.box1-left>.zhong>.bottom-left>.tuoo>.tuoo-right>button{
	width:90px;
	height:28px;
	background-color:#be4141;
	border:none;
	margin:9px 0 0 13px;
	color:#fff;
	font-size:11px;
}
.box .box_lun .box-rigth{
	width:241px;
	height:376px;
	background-color:#fff;
	float:right;
	margin-left:1px;
}
.box .box_lun .box-rigth .right11{
	height:55px;
}
.box .box_lun .box-rigth .a11{
	font-size:15px;
	float:left;
	height:55px;
	line-height:55px;
	margin-left:22px;
	color:black;
}
.box .box_lun .box-rigth .a22{
	float:right;
	font-size:11px;
	height:55px;
	line-height:55px;
	margin-right:22px;
	color:black;
}
.box .box_lun .box-rigth .right22{
	width:195px;
	height:64px;
	margin-left:22px;
}
.box .box_lun .box-rigth .right22 .img{
	width:50px;
	height:50px;
	background-color:#fbf9f6;
	float:left;
	margin:3px 0 0 3px;
}
.box .box_lun .box-rigth .right22 p{
	float:left;
	line-height:30px;
	font-size:12px;
	margin-left:20px;
}
.box .box_lun .box-rigth .right22 p:hover{
	color:#b4a078;
}
.box .box_lun .box-rigth .right22 b{
	float:left;
	color:#be4141;
	font-size:11px;
	margin-left:20px;
}
.box .box_lun .box-rigth .right22 s{
	float:left;
	color:#ccc;
	font-size:11px;
}
.box .box_lun .box-rigth .right22 i{
	width:24px;
	height:24px;
	float:right;
	background:url(../img/hxm_yanxuan-web_p_20150730_style_img_x1_cart-sb9c1d935ed-136a897db8.png) no-repeat 0 -199px;
	margin-right:5px;
}